* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 190, 190);
}

.app {
    background-color: rgb(225, 225, 233);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.app h1 {
    color: rgb(183, 177, 177);
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
}

.btn {
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    background-color: white;
    transition: 0.3s all;
}

.btn:hover:not([disabled]) {
    background-color: black;
    color: white;
}

.btn:disabled {
    cursor: not-allowed;
}

.next-btn {
    background-color: black;
    font-size: large;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: rgb(86, 206, 62);
}

.incorrect {
    background-color: rgb(218, 73, 53);
}
